body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    background-color: rebeccapurple;
}
p {
    line-height: 1.5;
}
.waluigi {
    max-height: 400px;
}
.big-important {
    color: rgb(0, 255, 21);
}